*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #000000;
    }
    .homepage{
        display: flex;
        flex-direction: column;
        gap: 90.25px;
    }
    
    .back-video{
        position: absolute;
        width: 100%;
        z-index: -1;
        left: 0px;
        top: 0px;
    }
    
    .goal{
        color: var(--text-white, #FFF);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 135px;
    font-style: normal;
    font-weight: 700;
    line-height: 150px; /* 111.111% */
    text-transform: capitalize;
        
    }
    .goal-desc{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    }
    
    .full-form{
        color: #EEE;
        text-align: center;
        font-family: Poppins;
        font-size: 16.5px;
        font-style: normal;
        font-weight: 300;
        line-height: 22.5px; /* 136.364% */
    }
    .funder{
    color: var(--text-white, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 140% */
    text-transform: capitalize;
    }
    .btn{
        display: flex;
        width: 133.25px;
        height: 48.75px;
        padding: 9px 18px;
        justify-content: center;
        align-items: center;
        gap: 7.5px;
        background-color: #EC028C;
        border: 0px;
        color: #FFF;
        
    }
    .btn-text{
        display: flex;
        color: var(--text-white, #FFF);
        justify-content: center;
        align-items: center;
       
        border: 0px;
       
    }
    .btn-text p{
        color: var(--text-white, #FFF);
        text-align: center;
        font-family: Poppins;
        font-size: 13.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 133.333% */
        text-transform: capitalize;
    }
    .btn-text i{
    width: 33.75px;
    height: 33.75px;
    color: white;
    }
    .btn:hover{
        display: flex;
        width: 133.5px;
        height: 48.75px;
        justify-content: center;
        gap: 7.5px;
        background: #ffffff;
        border: 1px solid #EC028C;
        color: #000000;
    
    }
    .btn:hover p{
        color: #EC028C;
    }
    .btn:hover .btn-text img{
        color: #EC028C;
    }
    .collabs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18.75px;
        margin-top: 83.38px;
    
    }
    .collabs h5{
    
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    line-height: 22.5px; /* 187.5% */
    }
    .logos{
    display: flex;
    
    height: 75px;
    gap: 120px;
    justify-content: center;
    align-items: center;
    
    }
    .collabs h5{
        color: #EEE;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.5px; /* 187.5% */
    }
    /* about css */
    
    .homepage .about{
    display: flex;
    height: 508.5px;
    align-items: center;
    gap: 84.75px;
    justify-content: center;
    margin-top: 90.13px;
    }
    .overview{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .overview-body{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    }
    .overview-body h5{
        color: #252A34;
        font-family: Poppins;
        font-size: 13.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 155.556% */
    }
    .overview-body h2{
        width: 312.268px;
        color: #252A34;
    font-family: "Playfair Display";
    font-size: 29.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px; /* 128.205% */
    text-transform: capitalize;
    }
    .overview-body p{
        width: 432.75px;
        color: #444;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.5px; /* 162.5% */
    text-transform: capitalize;
    }
    .about-image{
        width: 550px;
    height: 508.5px;
    flex-shrink: 0;
    }
    .about-image .img2{
        position: relative;
        top: -120px;
        left: 200px;
    }
    /* study area */
    
    .study-area{
        display: flex;
    
    height: 508.5px;
    
    align-items: center;
    gap: 84.75px;
    justify-content: center;
    margin-top: 90.25px;
    }
    .area-head{
        width: 296.25px;
    height: 159px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    }
    .headline{
       
        display: flex;
        gap: 29.25px;
        text-align: center;
        align-items: center;
        
    }
    .headline h3{
        color: #252A34;
    font-family: Poppins;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 155.556% */
    text-transform: capitalize;
    }
    .area-head h1{
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 29.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px; /* 128.205% */
    text-transform: capitalize;
    width: 296px;
    }
    .headline p{
        color: #444;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 19.5px; /* 162.5% */
        text-transform: capitalize;
    }
    .area-desc{
        display: flex;
        flex-direction: column;
        gap: 33.75px;
    }
    .area-cards{
        width: 385.6px;
       
    }
    .area-card{
    display: inline-flex;
    margin: 4px 4px;
    padding: 11.25px;
    flex-direction: column;
    align-items: flex-start;
    background: #FBF3F9;
    width: 179.3px;
    height: 127.3px;
    gap: 7.5px;
    }
    .card-head{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:9px;
    }
    .area-card span{
    color: #EC028C;
    font-family: 'montserrat';
    font-size: 15px;
    
    font-weight: 600;
    line-height: 21px; /* 140% */
    text-transform: capitalize;
    }
    .area-card p{
        color: #555;
    font-family: Poppins;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 171.429% */
    text-transform: capitalize;
    }
    
    /* workshop*/
    
    .workshop{
        display: flex;
        flex-direction: column;

        /* text-align: center; */
        align-items: center;
        gap: 26.01px;
       
        margin-top: 90.25px;
    
    }
    .workshop-content{
        width: 972px;
    height: 625.989px;
    
    
    
    }
    head{
    display:flex;
    flex-direction: column;
    
    align-items: flex-start;
    gap: 5.943px;
    
    }
    .head h5{
    color: #252A34;
    font-family: Poppins;
    font-size: 17.829px;
    font-style: normal;
    font-weight: 500;
    line-height: 27.734px; /* 155.556% */
    text-transform: capitalize;
    }
    .head h2{
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 38.629px;
    font-style: normal;
    font-weight: 700;
    line-height: 49.524px; /* 128.205% */
    text-transform: capitalize;
    }
    .workshop-body{
    width: 962.755px;
    display: flex;
    flex-direction: column;
    height: 516.292px;
    align-items: center;
    gap: 8.45px;
    }
    
    .workshop-list{
        display: flex;
        gap:16.34px;
    }
    .detail{
        
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13.69px;
        display: none;
    }
    .worshop-detail{
    
    width: 310.673px;
    height: 215.4px;
    background-image: url('../images/workshops/workshop1.png');
    }
    
    .worshop-detail:hover{
    background-image: url('../images/workshops/workshop6.png');
    }
    .worshop-detail:hover .detail{
        padding: 32.3px 42px;
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    gap: 13.69px;
    }
    .worshop-detail h2{
        color: var(--text-white, #FFF);
    font-family: Poppins;
    font-size: 13.485px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .venue{
        display: flex;
        flex-direction: column;
        gap: 10.27px;
    }
    .worshop-detail p{
        color: var(--goal-gray, #D0D0D0);
    font-family: Poppins;
    font-size: 8.894px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
    .detail .btn{
        display: flex;
    width: 105.317px;
    height: 35.6px;
    padding: 0px 0.067px 0px 0.065px;
    justify-content: center;
    align-items: center;
    }
    .left-right-icons{
        display: flex;
    align-items: flex-start;
    width: 95.641px;
    height: 40.576px;
    position: relative;
    left: 420px;
    
    }
    
    
    
    .dots{
        text-align: center;
    }
    
    /* objective */
    
    .objective-page{
    margin-top: 89.25px;
    width: 100%;
    height: 511.5px;
    flex-shrink: 0;
    background: #FDEBF6;
    align-items: center;
    
    }
    /* .objective-page img:nth-child(1){
        position: absolute;
        left:0px;
    } */
    /* .objective-page img:nth-child(2){
        position: absolute;
        right:0px;
    } */
    
    .objective-head{
        padding-top: 60px;
    display: flex;
    gap: 29.25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
    .objective-head h5{
        color: #000;
        text-align: center;
        font-family: Montserrat;
        font-size: 13.5px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px; /* 155.556% */
        text-transform: capitalize;
    }
    .objective-page h2{
    color: #000;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 29.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px; /* 128.205% */
    text-transform: capitalize;
    }
    .objectives-card{
    display: flex;
    gap: 37.5px;
    
    justify-content: center;
    margin-top: 41.5px;
    }
    .obj-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 229.5px;
    height: 279px;
    flex-shrink: 0;
    padding-top: 41.25px;
    background: var(--text-white, #FFF);
    }
    .obj-card p{
    color: #555;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    text-transform: capitalize;
    padding: 24px;
    }
    .designleft{
        position: absolute;
        left: 0px;
    }
    .designright{
        position: relative;
        right: -600px;
        bottom: 64px;}
    
    /* gallery */
    
    
    .gallery{
        display: flex;
        flex-direction: column;
        
        /* text-align: center; */
        align-items: center;
        gap: 26.01px;
        margin-top: 90.51px;
    }
    
    .gallery-content{
        display: flex;
        flex-direction: column;
        width: 972px;
        height: 618px;
        /* text-align: center; */
        align-items: center;
        
       justify-content: center;
        margin-top: 200px;
    }
    .gallery h2{
    color: #252A34;
    font-family: "Playfair Display";
    font-size: 29.25px;
    font-style: normal;
    font-weight: 700;
    line-height: 37.5px; /* 128.205% */
    text-transform: capitalize;
    }
    .images{
        display: flex;
width: 972px;
height: 468px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 18px;
flex-shrink: 0;
    }
    .row1 ul{
        display: flex;
        gap: 18px;
    }
    .row2 ul{
        display: flex;
        gap: 18px;
    }
    .row1 ul li img{
        width: 327px;
        height: 225px;
    }
    .row2 ul li img{
        width: 229.5px;
height: 225px;
    }
    .gallery .btn{
    
    text-align: center;
    font-family: Poppins;
    font-size: 9.969px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.292px; /* 133.333% */
    text-transform: capitalize;
    }
    
    /* story css */
    .stories-page{
        display: flex;
        flex-direction: column;
        height: 508.5px;
        /* text-align: center; */
        align-items: center;
        gap: 26.01px;
       
        margin-top: 90.51px;
    }
    .stories-list{
    
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin-top: 15px;
    margin-bottom: 18.75px;
    }
    .left-right-icons{
        width: 95.641px;
        height: 40.576px;
       
    }
    .stories-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    /* fundinng */
    .fund-content{
    display: flex;
    
    padding: 60px 233.865px 58.685px 234px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #FDEBF6;
    }
    .fund-content h2{
    color: #000;
    font-family: "Playfair Display";
    font-size: 29.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
    .fund-body{
        display: flex;
    align-items: flex-start;
    gap: 96px;
    }
    .right-content{
    display: flex;
    width: 594px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22.5px;
    }
    .right-content p{
        color: #555;
    text-align: justify;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .sites{
        display: flex;
    align-items: center;
    gap: 22.5px;
    }
    .sites h4{
        color: #000;
    font-family: "Playfair Display";
    font-size: 18.75px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18.75px */
    letter-spacing: 0.978px;
    }
    
    
    /* logo */
    .logos ul{
        display: inline-flex;
    align-items: center;
    gap: 90px;
    }
    .logo p{
        width: 88.5px;
        color: #252A34;
    text-align: center;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 300;
    line-height: 10.5px; /* 116.667% */
    text-transform: uppercase;
    }

    