{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoAL</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>

<body>

    <div class="navbar">
        <a class="goal-logo" href="{% url 'home' %}"><img src="/static/images/logo (2).png" /></a>
        <ul class="navlist">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'workshop_detail' %}">Workshops</a></li>

            <li class="dropdown-menu">
                <a href="{% url 'resources' %}">Resources<img src="/static/images/down_arrow.svg" /></a>
                <ul class="dropdown">
                    <li><a href="{% url 'resources' %}#publications">Publications</a></li>
                    <li><a href="{% url 'resources' %}#training_manuals">Training manuals</a></li>
                </ul>
            </li>
            <li class="dropdown-menu">
                <a href="{% url 'team' %}" class="Team">Team<img src="/static/images/down_arrow.svg" /></a>
                <ul class="dropdown">
                    <li><a href="{% url 'team' %}#collabarotors">Collabarotors</a></li>
                    <li><a href="{% url 'team' %}#research_associates">Research associates</a></li>
                    <li><a href="{% url 'team' %}#community_trainers">Community Trainers</a></li>
                    <li><a href="{% url 'team' %}#intern">Intern</a></li>
                    <li><a href="{% url 'team' %}#students">Students</a></li>
                </ul>
            </li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li class="dropdown-menu">
                <a href="{% url 'case_studies' %}">
                    <div>Case Studies</div><img src="/static/images/down_arrow.svg" />
                </a>
                <ul class="dropdown">
                    <li><a href="{% url 'case_studies' %}#case_study1">Case Study1</a></li>
                    <li><a href="{% url 'case_studies' %}#case_study2">Case Study2</a></li>
                    <li><a href="{% url 'case_studies' %}#case_study3">Case Study3</a></li>
                    <li><a href="{% url 'case_studies' %}#case_study4">Case Study4</a></li>
                    <li><a href="{% url 'case_studies' %}#case_study5">Case Study5</a></li>
                </ul>
            </li>
        </ul>
        <div class="nav-right">
            <div class="dropdown-menu">

                <a href="#" class="language">English<img src="/static/images/down_arrow.svg" /></a>
                <ul class="dropdown">
                    <li class="case1"><a href="#">Hindi</a></li>
                    <li class="case2"><a href="#">Sinhali</a></li>
                    <li class="case2"><a href="#">Nepali</a></li>
                    <li class="case2"><a href="#">Japanese</a></li>
                </ul>

            </div>
            <img src="/static/images/search.png" alt="" />
        </div>
    </div>
    {% block content %}



    {% endblock %}
    <div class="footer">
        <div class="footer-content">
            <div class="footer-body">
                <div class="project-name">
                    <div class="heading">
                        <img src="/static/images/logo (2).png" alt="" />
                        <p>An initiative by IIT Roorkee</p>
                    </div>
                    <h3>APN funded project IIT Roorkee</h3>
                    <p>APN</p>
                    <p>IIT Roorkee</p>
                </div>
                <div class="quicklinks">
                    <h4>Quick Link</h4>
                    <p>Home</p>
                    <p>Workshops</p>
                    <p>Team</p>
                    <p>gallery</p>
                    <p>About</p>
                    <p>Case Studies</p>
                </div>
                <div class="get-in-touch">
                    <h4>Get In Touch</h4>
                    <p>+91-1332-23124</p>
                    <p>example@gmail.com</p>
                </div>
                <div class="address">
                    <h4>Get In Touch</h4>
                    <p>
                        Department of Architecture and Planning, Indian Institute of
                        Technology (IIT), Roorkee Uttarakhand- 247667, India
                    </p>
                </div>
                <div class="dept-img">
                    <h2>
                        Department Of Architecture and Planning,
                        <span>IIT Roorkee</span>
                    </h2>
                    <img src="/static/images/archdept.png" alt="" width="216.21px" height="193.21px" />
                </div>
            </div>

            <p>Website credits-@Tinky&@Sarthak</p>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>

</html>