{% extends "base.html" %}

{% block content %}
<div class="homepage">
    <div class="header">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="/static/images/video.mp4" type="video/mp4" />
        </video>
        <div class="goal">GoAL</div>
        <div class="goal-desc">
            <p class="full-form">
                Gender-Orientated Adaptive Transformation cross-Learning
            </p>
            <p class="funder">An APN Funded Project | IIT Roorkee</p>
            <button class="btn">
                <div class="btn-text">
                    <p>Explore</p>

                    <!-- <i class="fas fa-arrow-circle-right"></i> -->
                </div>
            </button>
        </div>
        <div class="collabs">
            <h5>Collaborating Institutes</h5>

            <div class="collab- s">
                <ul class="logos">
                    <li class="logo">
                        <img src="/static/images/APN Logo-c-v 1 (1).png" alt="" />
                    </li>
                    <li class="logo">
                        <img src="/static/images/APN Logo-c-v 1 (1).png" alt="" />
                    </li>
                    <li class="logo">
                        <img src="/static/images/APN Logo-c-v 1 (1).png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="about-page">
        <div class="about-image">
            <img src="/static/images/Frame 38517.png" alt="" class="img1" />
            <img src="/static/images/Frame 38516.png" alt="" class="img2" />
        </div>
        <div class="about-description">
            <div class="overview">
                <div class="overview-body">
                    <h5>Overview <img src="/static/images/Line 172.png" alt="" /></h5>
                    <h2>Know About Our Project</h2>
                    <p>
                        Project GoAL attempts to tap adaptive transformations for
                        Climate Change (CC) & Disaster Risk Reduction (DRR) & enhance
                        research & communication capacities of the men, women, and
                        youths in their context by Training the Community Trainers
                        (ToCT) & developing training resources & community-friendly
                        tools for comprehensive outreach through an innovative approach.
                    </p>
                </div>

                <button class="btn">Read more</button>
            </div>
        </div>
    </div>
    <div class="study-area">
        <div class="area-desc">
            <div class="area-head">
                <div class="headline">
                    <h3>STUDY AREA</h3>
                    <img src="/static/images/Line 172.png" alt="" />
                </div>
                <h1>Let Us Come Together To Make a Difference</h1>
                <p>
                    The collaborative case studies are based on scientific research
                    and will be developed in -
                </p>
            </div>
            <div class="area-cards">
                <div class="area-card">
                    <div class="card-head">
                        <img src="/static/images/small1.png" alt="" />
                        <span>India</span>
                    </div>
                    <p>
                        Udham Singh Nagar District, Uttarakhand, Dumka, Aspirant
                        District Jharkhand and Bishnupur District, Manipur
                    </p>
                </div>
                <div class="area-card">
                    <div class="card-head">
                        <img src="/static/images/small2.png" alt="" />
                        <span>Nepal</span>
                    </div>
                    <p>Chitwan District, Bagmati Province</p>
                </div>
                <div class="area-card">
                    <div class="card-head">
                        <img src="/static/images/small3.png" alt="" />
                        <span>Sri Lanka</span>
                    </div>
                    <p>Gampaha District, Western Province</p>
                </div>
                <div class="area-card">
                    <div class="card-head">
                        <img src="/static/images/small4.png" alt="" />
                        <span>Japan</span>
                    </div>

                    <p>
                        literature-based case study and expert, stakeholders, and
                        community inputs through hybrid mode
                    </p>
                </div>
            </div>
        </div>
        <div class="maps">
            <img src="/static/images/map.png" alt="" />
        </div>
    </div>
    <div class="workshop-page">
        <div class="workshop-content-home">
            <div class="head">
                <div class="headline">
                    <h3>Recent workshops</h3>
                    <img src="/static/images/Line 172.png" alt="" />
                </div>

                <h2>We conduct regular workshops</h2>
            </div>
            <div class="workshop-body">
                <div class="left-right-icons">
                    <img src="/static/images/leftarrow.png" alt="" />
                    <img src="/static/images/rightarrow.png" alt="" />
                </div>
                <div class="workshops">
                    <ul class="workshop-list">
                        <li class="workshop">
                            <div class="worshop-detail-home">
                                <div class="detail">
                                    <h2>
                                        Adaptive Transformations for Climate Change and Disaster
                                        Risk Reduction Workshop
                                    </h2>
                                    <div class="venue">
                                        <p>
                                            Department of Architecture and Planning, IIT Roorkee
                                        </p>
                                        <p>10th February, 2024</p>
                                    </div>
                                    <button class="btn">View Details</button>
                                </div>
                            </div>
                        </li>
                        <li class="workshop">
                            <div class="worshop-detail-home">
                                <div class="detail">
                                    <h2>
                                        Adaptive Transformations for Climate Change and Disaster
                                        Risk Reduction Workshop
                                    </h2>
                                    <div class="venue">
                                        <p>
                                            Department of Architecture and Planning, IIT Roorkee
                                        </p>
                                        <p>10th February, 2024</p>
                                    </div>
                                    <button class="btn">View Details</button>
                                </div>
                            </div>
                        </li>
                        <li class="workshop">
                            <div class="worshop-detail-home">
                                <div class="detail">
                                    <h2>
                                        Adaptive Transformations for Climate Change and Disaster
                                        Risk Reduction Workshop
                                    </h2>
                                    <div class="venue">
                                        <p>
                                            Department of Architecture and Planning, IIT Roorkee
                                        </p>
                                        <p>10th February, 2024</p>
                                    </div>
                                    <button class="btn">View Details</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="workshop-list">
                        <li class="workshop">
                            <div class="worshop-detail-home">
                                <div class="detail">
                                    <h2>
                                        Adaptive Transformations for Climate Change and Disaster
                                        Risk Reduction Workshop
                                    </h2>
                                    <div class="venue">
                                        <p>
                                            Department of Architecture and Planning, IIT Roorkee
                                        </p>
                                        <p>10th February, 2024</p>
                                    </div>
                                    <button class="btn">View Details</button>
                                </div>
                            </div>
                        </li>
                        <li class="workshop">
                            <div class="worshop-detail-home">
                                <div class="detail">
                                    <h2>
                                        Adaptive Transformations for Climate Change and Disaster
                                        Risk Reduction Workshop
                                    </h2>
                                    <div class="venue">
                                        <p>
                                            Department of Architecture and Planning, IIT Roorkee
                                        </p>
                                        <p>10th February, 2024</p>
                                    </div>
                                    <button class="btn">View Details</button>
                                </div>
                            </div>
                        </li>
                        <li class="workshop">
                            <div class="worshop-detail-home">
                                <div class="detail">
                                    <h2>
                                        Adaptive Transformations for Climate Change and Disaster
                                        Risk Reduction Workshop
                                    </h2>
                                    <div class="venue">
                                        <p>
                                            Department of Architecture and Planning, IIT Roorkee
                                        </p>
                                        <p>10th February, 2024</p>
                                    </div>
                                    <button class="btn">View Details</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dots">
                    <img src="/static/images/Ellipse 377 (1).png" alt="" />
                    <img src="/static/images/Ellipse 379 (1).png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="objective-page">
        <img src="/static/images/designleft.png" alt="" class="designleft" />
        <div class="objective-head">
            <img src="/static/images/Line 172.png" alt="" />
            <h5>Objectives</h5>
            <img src="/static/images/Line 172.png" alt="" />
        </div>
        <h2>Objectives of the GoAL project</h2>
        <div class="objectives-card">
            <div class="obj-card">
                <img src="/static/images/1.png" alt="" />
                <p>
                    Build case studies on Gender-sensitive adaptive transformation in
                    CCA & DRR& prepare training resource
                </p>
            </div>
            <div class="obj-card">
                <img src="/static/images/2.png" alt="" />
                <p>
                    Build case studies on Gender-sensitive adaptive transformation in
                    CCA & DRR& prepare training resource
                </p>
            </div>
            <div class="obj-card">
                <img src="/static/images/3.png" alt="" />
                <p>
                    Build case studies on Gender-sensitive adaptive transformation in
                    CCA & DRR& prepare training resource
                </p>
            </div>
        </div>
        <img src="/static/images/designright.png" alt="" class="designright" />
    </div>

    <div class="gallery-home">
        <h2>Our Gallery</h2>
        <div class="images">
            <div class="row1">
                <ul>
                    <li><img src="/static/images/gallery1.png" alt="" /></li>
                    <li><img src="/static/images/gallery2.png" alt="" /></li>
                    <li><img src="/static/images/gallery3.png" alt="" /></li>
                </ul>
            </div>
            <div class="row2">
                <ul>
                    <li><img src="/static/images/gallery4.png" alt="" /></li>
                    <li><img src="/static/images/gallery5.png" alt="" /></li>
                    <li><img src="/static/images/gallery6.png" alt="" /></li>
                    <li><img src="/static/images/gallery7.png" alt="" /></li>
                </ul>
            </div>
        </div>
        <button class="btn">View Gallery</button>
    </div>

    <div class="stories-page">
        <div class="stories-content">
            <div class="head">
                <div class="headline">
                    <h3>stories</h3>
                    <img src="/static/images/Line 172.png" alt="" />
                </div>
                <h2>We conduct regular workshops</h2>
            </div>
            <div class="stories-body">
                <div class="left-right-icons">
                    <img src="/static/images/leftarrow.png" alt="" />
                    <img src="/static/images/rightarrow.png" alt="" />
                </div>
                <div class="stories">
                    <ul class="stories-list">
                        <li class="story">
                            <img src="/static/images/story1 (2).png" alt="" />
                        </li>
                        <li class="story">
                            <img src="/static/images/story2 (2).png" alt="" />
                        </li>
                        <li class="story">
                            <img src="/static/images/story3 (2).png" alt="" />
                        </li>
                    </ul>
                </div>
                <div class="dots">
                    <img src="/static/images/Ellipse 377 (1).png" alt="" />
                    <img src="/static/images/Ellipse 379 (1).png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <div class="funding-agency">
        <div class="fund-content">
            <h2>Funding Agency</h2>
            <div class="fund-body">
                <div class="left-image">
                    <img src="/static/images/APN Logo-c-v 1 (2).png" alt="" />
                </div>
                <div class="right-content">
                    <p>
                        APN is an intergovernmental network of 22 countries working
                        towards an Asia-Pacific region that is successfully addressing
                        the challenges of global change and sustainability.
                    </p>
                    <div class="sites">
                        <h4>
                            APN Website
                            <span><img src="/static/images/linkarrow.png" alt="" /></span>
                        </h4>
                        <img src="/static/images/verticaline.png" alt="" />
                        <h4>
                            project Website<span><img src="/static/images/linkarrow.png" alt="" /></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="logos">
        <ul>
            <li class="logo">
                <img src="/static/images/logo/2 (1).png" alt="" />
                <p>university of colombo</p>
            </li>
            <li class="logo">
                <img src="/static/images/logo/7.png" alt="" />
                <p>NIT Bhopal</p>
            </li>
            <li class="logo">
                <img src="/static/images/logo/8.png" alt="" />
                <p>Science Hub</p>
            </li>
            <li class="logo">
                <img src="/static/images/logo/9.png" alt="" />
                <p></p>
            </li>
            <li class="logo">
                <img src="/static/images/logo/APN Logo-c-v 1 (1).png" alt="" />
                <p></p>
            </li>
            <li class="logo">
                <img src="/static/images/logo/b62ae2df8a426804bc7c58955ceeb977e240a0727ae0018eb62a6c637ab5b135_SRIC 1.png"
                    alt="" />
                <p>IIT Roorkee</p>
            </li>
            <li class="logo">
                <img src="/static/images/logo/GAgQfbPbsAADBVf-fotor-bg-remover-202404169449 1.png" alt="" />
                <p>Jawaharlal Nehru University</p>
            </li>
        </ul>
    </div>


</div>
{% endblock %}