{% extends "base.html" %}

{% block content %}

<div class="profile-detail-container">
    <div class="page-hero" id="profile-bg">
        <img src="/static/images/icon.svg" alt="">
    </div>
    <div class="name-section">
        <img src="/static/images/harshit.jpeg" alt="" />
        <div class="profile-heading">
            <h2>Harshit Sosan Lakra</h2>
            <h5>Indian Institute of Technology Roorkee, India</h5>
            <p>Project Leader</p>
        </div>
    </div>
    <div class="detail-section">
        <div class="imp-detail">
            <ul>
                <li>
                    <h4>Country</h4>
                    <p>India</p>
                </li>
                <li>
                    <h4>Organisation</h4>
                    <p>Indian Institute of Technology Roorkee</p>
                </li>
                <li>
                    <h4>Email</h4>
                    <p>harshit.lakra@ar.iitr.ac.in</p>
                </li>
                <li>
                    <h4>Contact</h4>
                    <p>lakraharshitsosan@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="detail-desc">
            Dr Lakra, an assistant professor at IIT Roorkee, with a focus on
            interdisciplinary studies. Holding a doctoral degree from IIT Roorkee
            and double master’s degrees from CEPT University and Cornell
            University, her interests span the environment, indigenous
            communities, gender, culture, education, mountain ecosystems, and
            disaster management. She is also the recipient of the International
            Ford Foundation Fellowship (2007) and the Himalayan University
            Consortium Fellowship (2023). Leading the APN project on
            gender-oriented adaptive transformation across India, Nepal, Sri
            Lanka, and Japan, she demonstrates her commitment to international
            collaboration. Dr. Lakra has been spearheading various pioneering
            research endeavors funded by the Ministry of Tribal Affairs,
            HUDCO/HSMI, IIT Bhilai.
        </div>
    </div>
</div>

{% endblock %}