{% extends "base.html" %}

{% block content %}

<div class="page-hero" id="team-bg">
    <div class="page-head">
        <h1>Our Team</h1>
        <p><a href="{% url 'home' %}">Home</a> / <a href="">Team</a></p>
    </div>
    <img src="/static/images/icon.svg" alt="">
</div>

<div class="container" id="team-container">
    <div class="quick-link-box" id="team-sidebox">
        <a href="#collaborators" class="quicklink active">- Collaborators</a>
        <a href="#research_associates" class="quicklink">- Research Associates</a>
        <a href="#community_trainers" class="quicklink">- Community Trainers</a>
        <a href="#interns" class="quicklink">- Interns</a>
        <a href="#students" class="quicklink">- Students</a>
    </div>

    <div class="right" id="team-right">
        <section class="team" id="collaborators">
            <h2>Collaborators</h2>

            <div class="photo-container">
                {% for team_member in collaborators %}
                <!-- <a href="{% url 'profile_detail' %}"> -->
                <div class="member-card">
                    <img src="{{team_member.image.url}}" class="member-img" alt="">
                    <img src="/static/images/Rectangle 5995.png" class="member-card-bg
                        " alt="">
                    <a href="{% url 'profile_detail' %}">
                        <div class="member-details">

                            <h3>{{team_member.name}}</h3>

                            <div class="member-line"></div>

                            <p class="position">{{team_member.position}}</p>
                            <p class="institute">{{team_member.organisation}}</p>

                            <div class="social-icons">
                                <a href="#"><i class="fa-regular fa-envelope" style="color: #ec028c;"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin" style="color: #ec028c;"></i></a>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- </a> -->
                {% empty %}
                Data not found!
                {% endfor %}
            </div>



        </section>
        <section class="team" id="research_associates">
            <h2>Research Associates</h2>

            <div class="photo-container">
                {% for team_member in research_associates %}
                <a href="{% url 'profile_detail' %}">
                    <div class="member-card">
                        <img src="{{team_member.image.url}}" class="member-img" alt="">
                        <img src="/static/images/Rectangle 5995.png" class="member-card-bg
                        " alt="">
                        <div class="member-details">

                            <h3>{{team_member.name}}</h3>

                            <div class="member-line"></div>

                            <p class="position">{{team_member.position}}</p>
                            <p class="institute">{{team_member.organisation}}</p>

                            <div class="social-icons">
                                <a href="#"><i class="fa-regular fa-envelope" style="color: #ec028c;"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin" style="color: #ec028c;"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
                {% empty %}
                Data not found!
                {% endfor %}
            </div>



        </section>
        <section class="team" id="community_trainers">
            <h2>Community Trainers</h2>

            <div class="photo-container">
                {% for team_member in community_trainers %}
                <a href="{% url 'profile_detail' %}">
                    <div class="member-card">
                        <img src="{{team_member.image.url}}" class="member-img" alt="">
                        <img src="/static/images/Rectangle 5995.png" class="member-card-bg
                        " alt="">
                        <div class="member-details">

                            <h3>{{team_member.name}}</h3>

                            <div class="member-line"></div>

                            <p class="position">{{team_member.position}}</p>
                            <p class="institute">{{team_member.organisation}}</p>

                            <div class="social-icons">
                                <a href="#"><i class="fa-regular fa-envelope" style="color: #ec028c;"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin" style="color: #ec028c;"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
                {% empty %}
                Data not found!
                {% endfor %}
            </div>



        </section>
        <section class="team" id="interns">
            <h2>Interns</h2>

            <div class="photo-container">
                {% for team_member in interns %}
                <a href="{% url 'profile_detail' %}">
                    <div class="member-card">
                        <img src="{{team_member.image.url}}" class="member-img" alt="">
                        <img src="/static/images/Rectangle 5995.png" class="member-card-bg
                        " alt="">
                        <div class="member-details">

                            <h3>{{team_member.name}}</h3>

                            <div class="member-line"></div>

                            <p class="position">{{team_member.position}}</p>
                            <p class="institute">{{team_member.organisation}}</p>

                            <div class="social-icons">
                                <a href="#"><i class="fa-regular fa-envelope" style="color: #ec028c;"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin" style="color: #ec028c;"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
                {% empty %}
                Data not found!
                {% endfor %}
            </div>



        </section>
        <section class="team" id="students">
            <h2>Students</h2>

            <div class="photo-container">
                {% for team_member in students %}
                <a href="{% url 'profile_detail' %}">
                    <div class="member-card">
                        <img src="{{team_member.image.url}}" class="member-img" alt="">
                        <img src="/static/images/Rectangle 5995.png" class="member-card-bg
                        " alt="">
                        <div class="member-details">

                            <h3>{{team_member.name}}</h3>

                            <div class="member-line"></div>

                            <p class="position">{{team_member.position}}</p>
                            <p class="institute">{{team_member.organisation}}</p>

                            <div class="social-icons">
                                <a href="#"><i class="fa-regular fa-envelope" style="color: #ec028c;"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin" style="color: #ec028c;"></i></a>
                            </div>
                        </div>
                    </div>
                </a>
                {% empty %}
                Data not found!
                {% endfor %}
            </div>



        </section>

    </div>

</div>
{% endblock %}